/* Todo*/
@import url('https://fonts.googleapis.com/css?family=Major+Mono+Display|Roboto|Roboto+Condensed');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
    font-family: 'Avenir';
}

button{
    width: 40%;
    border-radius: 20px;
    padding: 1.5% 2%;
    border:none;
    cursor: pointer;
    margin-top: 5%;
    color: rgb(227, 115, 70);
    background-color: white;
    font-size: 200%;
    font-family: sans-serif;
    
}

h1{
    font-size: 3rem;
    text-align: center;
    font-weight: 350;
    font-family: 'HelveticaNeue'
    
}

body{
    height: 2000px;
    background-color: white;
    
}

a{
    text-decoration: none;
    color:black;
    text-align: center;
}

/* Navbar */
.logo{
    width: 160px;
   
}

.logo img{
    width: 100%;
}


header{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 80px;
    padding: 0 2%;
    position: fixed;
    background-color: white;
    z-index: 2;
}

nav{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 50%;
}

.nav2{
    justify-content: flex-end;
    
    

}

header nav a{
    padding: 2%;
    cursor: pointer;
    transition: all .3s ease;

}

header nav span:hover{
    background-color: gray;
    color:white; 
}

.nina{
    width: 45%
}

/*Main Sections*/

.main-section {
    width: 100%;
    min-height: 100vh;
    background-color:white;
    display: flex;
}

.cover{
    background-image: url('https://images.pexels.com/photos/1153213/pexels-photo-1153213.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 15% 25% 0 25%;
}

.layout{
    width: 100%;
    height: 100vh;
    background-color: rgb(252, 105, 6);
    /* background-color: rgba(205, 86, 7, 0.4); */
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    color: white;
    padding: 60px 30px 30px 30px;
}


.menu{
    display:none;   
    position: fixed;
    top: 0;
    right: 0;
}

/*Cursos de Liderazgo*/



p{
    
    font-size: 25px;
    line-height: 1.44;
    font-weight: 300;
    text-align: justify;
    margin-top: 12vw;

    
}

.main-quienes {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    margin-top: 150px;
    margin-bottom: 150px;
}

.main-quienes * {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40vw;   
}

.quienes{
    font-size: 60px;
    line-height: 1.23;
    max-width: 400px;
}

.conocer-mas{
    justify-content: flex-start;
    text-decoration: underline;
    font-size: 20px;
    margin-top:2%;
}

.texto1{
    display: flex;
    align-items: center;
    justify-content: center;
}

.texto2{
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    justify-self: center;
}

.texto2 p {
    margin-top: 0 !important;
}

#instucionales{
    background-color: black;
}

.tipos-cursos{
    font-family: sans-serif;
    font-size: 55px;
}

.experiencias{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.card{
    margin:70px;
}

.card-text{
    margin-top: 0vw;
    font-size: 22px;
   }

   .card-title{
    font-size: 2.2rem;
    text-align: center;
}

.btn-secondary{
    margin-left: 6vw;
    margin-top: 4%;
}

.list-group-item{
    text-align: center;
    font-size: 20px;
}

/*Media Queries*/

@media(max-width:500px){
    button{
        width:55%;
    }
    .cover{
        padding: 15% 0 0 0;
    }
    .header{
        display: block;
    }
    .nav2{       
       flex-direction: column;
       justify-content: flex-start;
       transition: all .3s ease;
       background-color: white;
       color:white;
       width: 100%;
       position: absolute;
       right: -100%;
    }
    .menu:hover ~ .nav2{
        right: 0%;
    }
    article.layout{
        background-color: rgba(205, 86, 7, 0.4);
        max-height: 900px;
        justify-content: center;
    }
    .menu{
        display:block;
        padding: 7% 5%;

    }
    .fas{
        font-size: 180%;
        opacity: 0.5;
    }

    .main-quienes *{
        width: 80vw;
    }

    .main-quienes{
        display: flex;
        flex-direction: column;
        margin-top: 50px;
        margin-bottom: 50px;
        width: 100vw;
    }
    .quienes{
        font-size: 40px;

    }
    .card-title{
        font-size: 2rem;
    }
   .card-text{
    margin-top: 0vw;
   }
   .btn-secondary{
    margin-left: 15vw;
    margin-top: 2%;
}
    
}

section.parallax{

    background-image: url("./grupo.jpeg");
    /* background-image: url('https://images.pexels.com/photos/615334/person-girl-human-joy-615334.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260'); */
    min-height: 50vh;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    opacity: 0.6;

}